networkx==3.3
customtkinter==5.2.2
Pillow==10.3.0
matplotlib==3.9.0
numpy==1.26.4
requests==2.32.3
scapy==2.5.0
anthropic==0.25.8
python-dotenv==1.0.1
schedule==1.2.2
psutil==5.9.8
Flask==3.0.3
Flask-CORS==4.0.1
streamlit==1.35.0
pandas==2.2.2
plotly==5.22.0
